# Virtual environments
.venv/

# OSX files
.DS_Store

# Vagrant machines directory
/.vagrant/

# Byte-compiled / optimized / DLL files
__pycache__/

# Don't store secrets in source code repositories :)
/data/levels-passwords.json
